@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

body{
    margin: 0px;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

h2{
    font-size: 46px;
    letter-spacing: 0.2px;
    font-weight: 400;
    line-height: 57px;
    text-align: center;
}

h4{
    font-weight: 700;
    font-size: 16px;
    line-height: 20px;
    letter-spacing: 0.2px;
    text-align: center;
}

h6{
    font-weight: 700;
    font-size: 12px;
    line-height: 18px;
    letter-spacing: 0.1px;
}

p{
    font-weight:  400;
    font-size : 18px;
    line-height: 27px;
    letter-spacing: 0.2px; 
    text-align: center;
    color: #374754;
}

.container4{
    /*width: 1440px;*/
    height: 1297px;
    background: #fff;
    color: black;
    display: flex;
    flex-direction: column;
    /*align-items: flex-start;*/
    align-items: center;
}

.text-context {
	display: flex;
	flex-direction: column;
    align-items: center;
    order: 0;
    margin-top: 80px;
}

.partners-items {
	display: flex;
	flex-direction: column;
	width: 818px;
	height: 728px;
	margin-top: 80px;
}

.item-row-1 {
	display: flex;
	flex-direction: row;
	align-items: center;
    position: static;
    width: 818px;
    height: 346px;
}


.item-row-2 {
	display: flex;
	flex-direction: row;
	align-items: center;
    position: static;
    width: 818px;
    height: 312px;
    margin-top: 70px;
}

.item-tile {
	display: flex;
	flex-direction: column;
    align-items: center;
    margin: 0 52px;
}

.btn-loc {
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	margin: 80px 0px;
}

.btn-loc-2 {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: 80px 0px;
  }

.btn-blue {
	padding: 16px 0px;
	background: #38A3F1;
	border-radius: 35px;
	width: 236px;
	border-style: none;
	height: 65px;
	font-size: 22px;
	line-height: 33px;
	letter-spacing: 0.1px;
	font-weight: 700;
    color: white;
    cursor: pointer;
}


@media screen and (max-width:500px){
    .item-row-1 {
        display: flex;
        flex-direction: column;
        align-items: center;
        height: 346px;
        width: 320px;
        margin-left: auto;
        margin-right: auto;
    }

    .item-row-2 {
        display: none;
    }

    .container4 {
        width: 100%;
        height: auto;
    }
     
    .btn-loc{
        margin-top: 400px;
    }

    .partners-items {
        width: 100%;
    }
}


/* testominial */
.avatar {
    vertical-align: middle;
    width: 50px;
    height: 50px;
    border-radius: 50%;  
  }
  .container{
    display: flex;
    vertical-align: middle;
    margin-right: 189px;
  }

  .container_img {
	margin-top: 50px;
  }

  @media screen and (max-width:500px){  
  .h4-mod{
      margin-left: 20px;
      margin-right: 20px;
      font-size: 13.53px !important;
      line-height: 16.91px;
      letter-spacing: 0.17px;
  }

  .container_img {
	margin-top: 45px;
  }
}  


/* pricing */

.wrapper{
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  color: #000;
  margin-top: 50px;
  margin-bottom: 100px;
}
.card{
 max-width: 300px;
  min-height: 250px;
  color: #000;
  padding: 30px;
  box-sizing: border-box;
  color: #FFF;
  margin:20px;
  background: #FFFFFF;
  border: 1px solid #DEDEDE;
  box-sizing: border-box;
  box-shadow: 0px 13px 19px rgba(0, 0, 0, 0.07);
  border-radius: 10px;
}
.card:nth-child(2){

}
.card:last-child{
  background: linear-gradient(39.97deg, #EF2779 0.79%, #7834BE 79.29%);
}
.card-title{
  margin-top: 0;
  font-size: 16px;
  font-weight: 600;
  letter-spacing: 1.2px;
  color: #000;
}
.card-content{
  font-size: 14px;
  letter-spacing: 0.5px;
  line-height: 1.5;
  
}
.card-btn{
  all: unset;
  display: block;
  margin-left: auto;
  border: 2px solid #FFF;
  padding: 10px 15px;
  border-radius: 25px;
  font-size: 10px;
  font-weight: 600;
  transition: all 0.5s;
  cursor: pointer;
  letter-spacing: 1.2px;
}
.card-btn:hover{
 color:#02b875;
 background: #FFF;
}
.card:nth-child(2) .card-btn:hover{
 color:#4181ee;
 background: #FFF;
}
.card:last-child .card-btn:hover{
 color:#673ab7;
  background: #FFF;
}


.btn-blue-price {
	padding: 16px 0px;
	background: #38A3F1;
	border-radius: 35px;
	width: 236px;
	border-style: none;
	height: 57px;
	font-size: 17px;
	/* line-height: 33px; */
	letter-spacing: 0.1px;
	font-weight: 700;
	color: white;
	cursor: pointer;
	margin-top: 30px;
}

/* Contact Us*/

/* Footer */